doctype 5
html(lang="en", ng-app="myApp")
  head
    meta(charset="utf8")
    title Go-Lab - Concept Mapper 0.9
    link(rel="stylesheet", type="text/css", href="/styles/conceptMapper.css")
    link(rel="stylesheet", type="text/css", href="/styles/golabTiptip.css")
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/fonts/font-awesome-shindig-workaround.css")
    link(rel="stylesheet", type="text/css", href="/fonts/titilliumWeb400.css")
  body(ng-controller='ConceptMapperCtrl as ctrl')
    block content